
* {
  box-sizing: border-box;
  background-color: #ff6b6b;
  font-size: medium;
  font-family: "Open Sans";
  font-weight: 300;
}

.main {
  display: none;
  font-family: "Open Sans";
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  padding: 25px;
  font-size: 100px;
  font-weight: 500;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";
  width: 90%;
  height: 99vh;
  /* this is for mobile view */
}

.tinderBox {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.interface {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  padding: 25px;
  font-size: x-large;
  font-weight: 300;
}

.btn {
  background-color: white;
  border-radius: 5px;
  padding: 6px;
  margin: 15px;
}

.btn:hover {
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

img {
  max-width: 30%;
  opacity: 1;
}

img:hover {
  opacity: .8;
}

#restaurantInfo {
  display: flex;
  flex: 0 0 auto;
  min-width: 30%;
  min-height: 30vh;
  border: dotted;
  justify-content: center;
}

.tinderButton {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

#fakeLink {
  font-family: "Open Sans";
  font-size: medium;
  color: #003388;
}

input {
  border: 1px solid silver;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 50em;
}

.hidden {
  display: none
}

/* media dependent encoding*/

/* tablet view */
@media (min-width: 600px && max-width: 770px) {
  body{
    width: 70%;
  }
}

/* desktop view */
@media (min-width: 770px) {
  body {
    width: 50%;
  }
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#sharelink {
  display: none;
  background-color: white;
  width: 30%;
  height: 30%;
  position: absolute;
}